<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>myBookStore</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.dabai.filter.EncodingFilter</filter-class>
    <init-param>
      <param-name>charset</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.dabai.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>clientFilter</filter-name>
    <filter-class>com.dabai.filter.clientFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>clientFilter</filter-name>
    <servlet-name>BuyServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>clientFilter</filter-name>
    <servlet-name>OrderServlet</servlet-name>
  </filter-mapping>
  <filter>
    <filter-name>formFilter</filter-name>
    <filter-class>com.dabai.filter.formFilter</filter-class>
    <init-param>
      <param-name>/client/UserServlet</param-name>
      <param-value>com.dabai.vo.user</param-value>
    </init-param>
    <init-param>
      <param-name>/manager/CategoryServlet</param-name>
      <param-value>com.dabai.vo.category</param-value>
    </init-param>
    <init-param>
      <param-name>/admin/adminServlet</param-name>
      <param-value>com.dabai.vo.administor</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>formFilter</filter-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-name>adminServlet</servlet-name>
  </filter-mapping>
  <filter>
    <filter-name>fileFilter</filter-name>
    <filter-class>com.dabai.filter.fileFilter</filter-class>
    <init-param>
      <param-name>paramCacheName</param-name>
      <param-value>#paramCache</param-value>
    </init-param>
    <init-param>
      <param-name>maxSize</param-name>
      <param-value>4096</param-value>
    </init-param>
    <init-param>
      <param-name>/manager/BookServlet</param-name>
      <param-value>com.dabai.vo.book</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>fileFilter</filter-name>
    <servlet-name>BookServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>fileFilter</filter-name>
    <servlet-name>testServlet</servlet-name>
  </filter-mapping>
  <servlet>
    <servlet-name>adminServlet</servlet-name>
    <servlet-class>com.dabai.servlet.adminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminServlet</servlet-name>
    <url-pattern>/admin/adminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>com.dabai.servlet.CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/manager/CategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>com.dabai.servlet.BookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/manager/BookServlet</url-pattern>
  </servlet-mapping>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/error.jsp</location>
  </error-page>
</web-app>